/*------------------------------------*\
    #TWO
\*------------------------------------*/
@mixin two {
	&:before {
		content: '2';
	}
}

/*------------------------------------*\
    #THREE
\*------------------------------------*/
@mixin three {
	&:before {
		content: '3';
	}
}

/*------------------------------------*\
    #THREE
\*------------------------------------*/
@mixin four {
	&:before {
		content: '4';
	}
}

/*------------------------------------*\
    #FIVE
\*------------------------------------*/
@mixin five {
	&:before {
		content: '5';
	}
}

/*------------------------------------*\
    #SIX
\*------------------------------------*/
@mixin six {
	&:before {
		content: '6';
	}
}

/*------------------------------------*\
    #SEVEN
\*------------------------------------*/
@mixin seven {
	&:before {
		content: '7';
	}
}

/*------------------------------------*\
    #EIGHT
\*------------------------------------*/
@mixin eight {
	&:before {
		content: '8';
	}
}

/*------------------------------------*\
    #NINE
\*------------------------------------*/
@mixin nine {
	&:before {
		content: '9';
	}
}

/*------------------------------------*\
    #TEN
\*------------------------------------*/
@mixin ten {
	&:before {
		content: '10';
	}
}

/*------------------------------------*\
    #JACK
\*------------------------------------*/
@mixin jack {
	&:before {
		content: 'J';
	}
}

/*------------------------------------*\
    #QUEEN
\*------------------------------------*/
@mixin queen {
	&:before {
		content: 'Q';
	}
}

/*------------------------------------*\
    #KING
\*------------------------------------*/
@mixin king {
	&:before {
		content: 'K';
	}
}


/*------------------------------------*\
    #ACE
\*------------------------------------*/
@mixin ace {
	&:before {
		content: 'A';
	}
}
