/*------------------------------------*\
    #CLUB
\*------------------------------------*/
@mixin club {
	content: '\2663';
}

/*------------------------------------*\
    #SPADE
\*------------------------------------*/
@mixin spade {
	content: '\2660';
}

/*------------------------------------*\
    #DIAMOND
\*------------------------------------*/
@mixin diamond {
	content: '\2666';
}

/*------------------------------------*\
    #HEART
\*------------------------------------*/
@mixin heart {
	content: '\2665';
}