/*------------------------------------*\
    #CLUB
\*------------------------------------*/
@mixin club {
	&:after {
		content: '\2663';
	}
}

/*------------------------------------*\
    #SPADE
\*------------------------------------*/
@mixin spade {
	&:after {
		content: '\2660';
	}
}

/*------------------------------------*\
    #DIAMOND
\*------------------------------------*/
@mixin diamond {
	&:after {
		content: '\2666';
	}
}

/*------------------------------------*\
    #HEART
\*------------------------------------*/
@mixin heart {
	&:after {
		content: '\2665';
	}
}