/*------------------------------------*\
    #CARD
\*------------------------------------*/
@import "compass/css3";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

/* f-card */
%f-card {
	width: 16em;
	height: 22.4em;
	position: relative;
	float: left;
	z-index: 2;
	margin: 0 1.2em 1.2em 0;
	pointer-events: none;

	&.flipped {
		@include flipped;
	}
}


// size of suit symbols
$suit-size: 5.5em;
$suit-size-ratio: 6em / $suit-size;

// vertical adjustments
$centre-adjustment: -0.6em;// * 6em / $suit-size;
$strut-inner-gap: $centre-adjustment + 0.5em * $suit-size-ratio;
$strut-outer-gap: $centre-adjustment + 1.25em * $suit-size-ratio;
$fit-six-adjustment: $centre-adjustment + 0.67em * $suit-size-ratio;
$fit-eight-adjustment: $centre-adjustment + 0.8em * $suit-size-ratio;

// horizontal adjustments
$horizontal-adjustment: 0.25em * $suit-size-ratio;
$middle-adjustment: -0.34em * $suit-size-ratio;

// face adjustments
$face-left-adjustment: -1em;
$face-top-adjustment: -1.55em;
$face-width: 2em;
$face-height: 3.2em;

/* f-card-strut */
%f-card-strut {
	display: none;

	&:before,
	&:after {
		font-size: $suit-size;
		position: absolute;
		width: 0.65em * $suit-size-ratio;
		text-align: center;
	}

	&%f-card-strut--enabled {
		display: block;
	}

	&%f-card-strut--left {
		&:before,
        &:after {
          right: $horizontal-adjustment;
		}
	}

	&%f-card-strut--right {
		&:before,
		&:after {
          left: $horizontal-adjustment;
		}
	}

	&%f-card-strut--middle {
		&:before,
		&:after {
			right: $middle-adjustment;
		}
	}

	&%f-card-strut--inner {
		&:before {
			bottom: $strut-inner-gap;
		}
		&:after {
			top: $strut-inner-gap;
		}
	}

	&%f-card-strut--outer {
		&:before {
			bottom: $strut-outer-gap;
		}
		&:after {
			top: $strut-outer-gap;
		}
	}

	&%f-card-strut--centre {
		&:before {
			top: $centre-adjustment;
		}
		&:after {
			display: none;
		}
	}

	&%f-card-strut--fitSix {
		&:before {
		  bottom: $fit-six-adjustment;
		}
		&:after {
          top: $fit-six-adjustment;
		}
	}

	&%f-card-strut--fitEight {
		&:before {
			bottom: $fit-eight-adjustment;
		}
		&:after {
			top: $fit-eight-adjustment;
		}
	}

	&%f-card-strut--face {
		&:before {
			position: absolute;
			width: $face-width;
			height: $face-height;
			left: $face-left-adjustment;
			top: $face-top-adjustment;
		}

		&:after {
			display: none;
		}
	}
}

/* f-card-corner */
$f-card-corner-horizontalOuter: 0.64em;
$f-card-corner-verticalOuter: 0.96em;
%f-card-corner {
	line-height: 1;
	overflow: hidden;
	position: absolute;
	text-align: center;
	pointer-events: none;

	&.top {
		left: $f-card-corner-horizontalOuter;
		top: $f-card-corner-verticalOuter;
	}

	&.bottom {
		@include flipped;
		bottom: $f-card-corner-verticalOuter;
		right: $f-card-corner-horizontalOuter;
	}
}


/* f-card-corner-number */
%f-card-cornerNumber {
	font-size: 2em;
	height: 0.96em;
	line-height: 0.96em;

	.ten & {
		letter-spacing: -0.03em;
		margin-left: -0.15em;
		padding-right: 0.9px;
		padding-left: 0.9px;
	}
}

/* f-card-corner-suit */
%f-card-cornerSuit {
	display: block;
	font-size: 1.5em;
}

/* f-card-strut */
%f-card-strut {
	margin: auto;
	position: absolute;
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0;
	height: 0;
	width: 0;
}

/* s-card */
%s-card {
	background-color: #fff;
	@include border-radius(0.8em);
	@include box-shadow(0 0 0.4em rgba(0, 0, 0, 0.5));
	@include suit-font;

	&.club {
		color: black;
	}

	&.spade {
		color: black;
	}

	&.diamond {
		color: red;
	}

	&.heart {
		color: red;
	}

	&.fourColour {
		&.club {
			color: green;
		}

		&.spade {
			color: black;
		}

		&.diamond {
			color: blue;
		}

		&.heart {
			color: red;
		}
	}
}

%s-card-face {
	background-repeat: no-repeat;
	background-size: contain;

	.jack.diamond & {
		@include face('JD');
	}

	.jack.club & {
		@include face('JC');
	}

	.jack.heart & {
		@include face('JH');
	}

	.jack.spade & {
		@include face('JS');
	}

	.jack.diamond & {
		@include face('JD');
	}

	.queen.club & {
		@include face('QC');
	}

	.queen.heart & {
		@include face('QH');
	}

	.queen.spade & {
		@include face('QS');
	}

	.queen.diamond & {
		@include face('QD');
	}

	.king.club & {
		@include face('KC');
	}

	.king.heart & {
		@include face('KH');
	}

	.king.spade & {
		@include face('KS');
	}

	.king.diamond & {
		@include face('KD');
	}
}

/* s-card-suit */
%s-card-suit {
	.club & {
		@include club;
	}

	.spade & {
		@include spade;
	}

	.diamond & {
		@include diamond;
	}

	.heart & {
		@include diamond;
	}
}

/* s-card-number */
%s-card-number {
	.two & {
		@include two;	
	}

	.three & {
		@include three;
	}

	.four & {
		@include four;
	}

	.five & {
		@include five;
	}
	
	.six & {
		@include six;
	}
	
	.seven & {
		@include seven;
	}
	
	.eight & {
		@include eight;
	}
	
	.nine & {
		@include nine;
	}
	
	.ten & {
		@include ten;
	}
	
	.jack & {
		@include jack;
	}
	
	.queen & {
		@include queen;
	}
	
	.king & {
		@include king;
	}
	
	.ace & {
		@include ace;
	}
}

%s-card-strut {
	&:before {
		@extend %s-card-suit;
	}
	&:after {
		@extend %s-card-suit;
		@include flipped;
	}

	&%s-card-strut--big {
		font-size: 1.5em;
	}

	&%s-card-strut--face {
		&:before {
			content: '';
			z-index: 6;
			@extend %s-card-face;
		}
		&:after {
			content: '';
			background-color: green;
			z-index: 4;
		}
	}
}

.b-card {
	@extend %f-card;
	@extend %s-card;
}

.b-card-corner {
	@extend %f-card-corner;

	&:before {
		@extend %f-card-cornerNumber;
		@extend %s-card-number;
	}

	&:after {
		@extend %f-card-cornerSuit;
		@extend %s-card-suit;
	}
}

.b-card-leftOuterStrut {
	@extend %f-card-strut;
	@extend %f-card-strut;
	@extend %f-card-strut--left;
	@extend %s-card-strut;

	.four &,
	.five &,
	.six &,
	.seven &,
	.eight &,
	.nine &,
	.ten & {
		@extend %f-card-strut--enabled;
		@extend %f-card-strut--outer;
	}
}

.b-card-leftInnerStrut {
	@extend %f-card-strut;
	@extend %f-card-strut;
	@extend %f-card-strut--left;
	@extend %s-card-strut;

	.six &,
	.seven &,
	.eight & {
		@extend %f-card-strut--enabled;
		@extend %f-card-strut--centre;
	}

	.nine &,
	.ten & {
		@extend %f-card-strut--enabled;
		@extend %f-card-strut--inner;
	}
}

.b-card-middleOuterStrut {
	@extend %f-card-strut;
	@extend %f-card-strut;
	@extend %f-card-strut--middle;
	@extend %s-card-strut;

	.two &,
	.three & {
		@extend %f-card-strut--enabled;
		@extend %f-card-strut--outer;
	}

	.seven &,
	.eight & {
		@extend %f-card-strut--enabled;
		@extend %f-card-strut--fitSix;
	}

	.ten & {
		@extend %f-card-strut--enabled;
		@extend %f-card-strut--fitEight;
	}

	.seven & {
		&:after {
			display: none;
		}
	}
}

.b-card-middleInnerStrut {
	@extend %f-card-strut;
	@extend %s-card-strut;

	.three &,
	.five &,
	.nine &,
	.ace & {
		@extend %f-card-strut--enabled;
		@extend %f-card-strut--centre;
		@extend %f-card-strut--middle;
	}

	.ace & {
		@extend %s-card-strut--big;
	}

	.jack &,
	.queen &,
	.king & {
		@extend %f-card-strut--enabled;
		@extend %f-card-strut--face;
		@extend %s-card-strut--face;
	}
}

.b-card-rightInnerStrut {
	@extend %f-card-strut;
	@extend %f-card-strut;
	@extend %f-card-strut--right;
	@extend %s-card-strut;

	.six &,
	.seven &,
	.eight & {
		@extend %f-card-strut--enabled;
		@extend %f-card-strut--centre;
	}

	.nine &,
	.ten & {
		@extend %f-card-strut--enabled;
		@extend %f-card-strut--inner;
	}
}

.b-card-rightOuterStrut {
	@extend %f-card-strut;
	@extend %f-card-strut;
	@extend %f-card-strut--right;
	@extend %s-card-strut;

	.four &,
	.five &,
	.six &,
	.seven &,
	.eight &,
	.nine &,
	.ten & {
		@extend %f-card-strut--enabled;
		@extend %f-card-strut--outer;
	}
}