/*------------------------------------*\
    #HAND
\*------------------------------------*/
/*
	Markup:
    <div class="b-hand ${fan}">
    	<div class="b-hand-card"></div>
    				...
    	<div class="b-hand-card"></div>
	</div>

    Where:
    ${fan} = overlapping|spaced
*/

$pop-out-height: 50px;

/* f-hand */
%f-hand {
	position: absolute;
}

/* f-hand--preventSelectBottom */
%f-hand--preventSelectBottom {
	&:after {
		width:100%;
		position: absolute;
		left: 0;
		bottom: 0;
		height: $pop-out-height;
		z-index: 1000;
		content: '';
	}
}

/* f-hand-card */
%f-hand-card {

}

$hand-background-z: 2;
$hand-foreground-z: $hand-background-z + 1;

/* f-hand-card--overlapping */
%f-hand-card--overlapping {
	display: inline-block;
	margin-left: -13em;
	z-index: $hand-background-z;
	position: relative;
	@include transition(0.1s ease);
	@include transition-delay(0.075s);

	&:first-child {
		margin-left: 0;
	}

	&:hover {
		z-index: 999;
		@include transform(translateY(-$pop-out-height));
		@include transition(0.5s ease);
	}
}

.b-hand {
	@extend %f-hand;

	&.overlapping {
		@extend %f-hand--preventSelectBottom;
	}
}

.b-hand-card {
	@extend %f-hand-card;

	.overlapping & {
		@extend %f-hand-card--overlapping;
	}
}
